In [5]:
# 쥬피터노트북 셀 스타일 조절 
from IPython.core.display import display, HTML
display(HTML("<style>.container { font-weight: bold !important; }</style>"))
display(HTML("<style>.container { width: 100% !important; }</style>"))

# 경고 메세지 숨기기 
import warnings
warnings.filterwarnings(action='ignore')

In [6]:
import numpy as np 
import pandas as pd

In [3]:
pd.__version__

'1.2.4'

In [8]:
# print(dir(np), len(dir(np)))

In [9]:
# print(dir(pd), len(dir(pd)))

# 판다스의 자료 구조 

- 넘파이 < 시리즈 < 데이타프레임 
- 시리즈 
- 데이타프레임

# 시리즈(Series)

- 리스트와 딕셔너리 두가지의 장점을 섞어놓은 듯한 자료구조
- 리스트나 튜플처럼 숫자인덱싱 
- 딕셔너리와 같이 키인덱싱 
```
pd.Series(data=리스트/튜플/넘파이배열/딕셔너리, index=인덱스리스트)
```

In [11]:
pd.Series?

In [16]:
# 딕셔너리 => 시리즈 
mydict = {'a': 1, 'b': 2, 'c': 3, 'd':4, 'e':5}
s1 = pd.Series(data=mydict)
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [17]:
type(s1), len(s1)

(pandas.core.series.Series, 5)

In [22]:
# 인덱싱 
s1['a'] , s1[0] , s1[-1]

(1, 1, 5)

In [28]:
# 슬라이싱 테스트 
print(s1[:2])
print()
print(s1['a':'c'])
print()
print(s1[::2])
print()
print(s1[::-1])
print()
# 불연속인 데이타 출력 
# 시리즈명[[인덱스1, 인덱스2 .... ]]
print(s1[[0,3,0, 1]])

a    1
b    2
dtype: int64

a    1
b    2
c    3
dtype: int64

a    1
c    3
e    5
dtype: int64

e    5
d    4
c    3
b    2
a    1
dtype: int64

a    1
d    4
a    1
b    2
dtype: int64

In [29]:
# 넘파이배열 => 시리즈 
matrix = np.arange(10,0,-1)
matrix

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [30]:
s2 = pd.Series(matrix)
s2

0    10
1     9
2     8
3     7
4     6
5     5
6     4
7     3
8     2
9     1
dtype: int32

In [32]:
s2[0], s2[0:5]

(10,
 0    10
 1     9
 2     8
 3     7
 4     6
 dtype: int32)

In [37]:
np.sum(s2), np.mean(s2), np.median(s2), np.min(s2), np.max(s2)

(55, 5.5, 5.5, 1, 10)

In [38]:
# 튜플 => 시리즈 
# 시리즈의 데이터형은 혼합형이 가능하다. 
# 혼합형은 object 
myTuple = ('가', '나', True, 100, 3.14)
myTuple

('가', '나', True, 100, 3.14)

In [39]:
s3 = pd.Series(myTuple)
s3

0       가
1       나
2    True
3     100
4    3.14
dtype: object

In [43]:
type(s3[2]), type(s3[3]), type(s3[4])

(bool, int, float)

# 시리즈 속성 
- dtype 데이타형 확인 
- values : 값만 넘파이배열 형태로 출력 
- index : 시리즈의 인덱스값만 리스트 형태로 출력

In [45]:
s3.dtype, s3.values, s3.index

(dtype('O'),
 array(['가', '나', True, 100, 3.14], dtype=object),
 RangeIndex(start=0, stop=5, step=1))

In [46]:
type(s3.values)

numpy.ndarray

In [47]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [48]:
s1.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [50]:
list(s1.index), tuple(s1.index)

(['a', 'b', 'c', 'd', 'e'], ('a', 'b', 'c', 'd', 'e'))

# 인덱스 이름, 시리즈 이름 지정 

- 시리즈명.index.name=인덱스이름
- 시리즈명.name=시리즈이름
- 시리즈명.index = 리스트

In [56]:
# 딕셔너리 => 시리즈 
sdata = {"Charles": 35000, "Julia":71000, "Hayoung":16000, "Sangjae":5000}
s4 = pd.Series(sdata, name="보너스")
s4.index.name="회원"
s4

회원
Charles    35000
Julia      71000
Hayoung    16000
Sangjae     5000
Name: 보너스, dtype: int64

In [58]:
s4.name = '상여금'
s4

회원
Charles    35000
Julia      71000
Hayoung    16000
Sangjae     5000
Name: 상여금, dtype: int64

In [60]:
# 리스트 => 시리즈 
# 인덱스명은 별도 설정 
myList = ['라면', '짜장면', '짬뽕', '로제떡볶기']
s5 = pd.Series(myList, index=['메뉴1', '메뉴2', '메뉴3','메뉴4'])
s5

메뉴1       라면
메뉴2      짜장면
메뉴3       짬뽕
메뉴4    로제떡볶기
dtype: object

In [62]:
s5['메뉴3'], s5[2]

('짬뽕', '짬뽕')

# 퀴즈 
```
Quiz 1
1) 딕셔너리 생성 
   {'a': 'apart', 'b': 'banana', 'c': 'cat'}
2) 리스트 생성 
  ['아파트', '바나나', '고양이']
3) 1번의 키값 + 2번의 데이타 => 시리즈생성 
  'a'   '아파트'
  'b'   '바나나'
  'c'   '고양이'
  
  
Quiz 2
아래와 같은 형태로 시리즈를 생성하고 평균값을 출력하여라

과목 
---------
국어    90
수학    80
영어    100
과학    55
역사    70 
Name:중간고사성적표, dtype=?
---------
평균 = ?
```

In [9]:
# quiz1
myDict = {'a': 'apart', 'b': 'banana', 'c': 'cat'}

In [10]:
myList = ['아파트', '바나나', '고양이']

In [12]:
# 딕셔너리의 키만 
myDict.keys(), type(myDict.keys()), list(myDict.keys())

(dict_keys(['a', 'b', 'c']), dict_keys, ['a', 'b', 'c'])

In [13]:
mySeries = pd.Series(myList, index=myDict.keys())
mySeries

a    아파트
b    바나나
c    고양이
dtype: object

In [ ]:
# quiz2

In [15]:
score = {'국어':90,'수학':80,'영어':100,'과학':55,'역사':70}
pd_ave = pd.Series(score)
pd_ave.name = '중간고사성적표'
pd_ave.index.name = '과목'
# ave=0
# for i in pd_ave:
#     ave = ave + i
print(pd_ave)
print("---------")
# print("평균 =",ave/len(pd_ave))
print("평균 =", pd_ave.mean())

과목
국어     90
수학     80
영어    100
과학     55
역사     70
Name: 중간고사성적표, dtype: int64
---------
평균 = 79.0